<nav class="navbar">
  <div class="main-menu">
    <ul>
      <li><a href="{% url 'index' %}">Questions</a></li>
    </ul>
  </div>
  <div class="user-menu">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'new-question' %}">Ask question</a></li>
      <li>Welcome: <b>{{user.username}}</b></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">SignUp</a></li>
      {% endif %}
      <li><a href="{% url 'ct' %}">Contact</a></li>
    </ul>
  </div>
</nav>
